# Project dependencies
node_modules
doc
yarn-error.log

# Build directory
/out
.next

# Temporary files
.DS_Store
.swp

.cache
public/lunr.en.json
public/robots.txt
public/sitemap-*.xml
public/doc
public/staticProps
src/components/index.css
.stackbit
next-env.d.ts